[defaults]
host_key_checking = false
deprecation_warnings = false
command_warnings = false
localhost_warning = false
interpreter_python = auto_silent
retry_files_enabled = false
inventory = ./inventory.yml
roles_path = ./roles/
collections_path = ./collections/

pipelining = True

#vault_password_file = ./.vault.pass
remote_user = ansible-user

display_failed_stderr = true
[ssh_connection]
ssh_args = -i ~/.ssh/final_task -o ProxyCommand="gcloud compute start-iap-tunnel %h 22 --listen-on-stdin --project=valued-rigging-479120-t5 --zone=europe-central2-a"
host_key_checking = False
timeout = 30